.header{
    width: 100%;
    min-height: 100vh;
    position: relative;
    background-color: rgb(139, 196, 250);

    &__image{
        position: absolute;
        top: 40%;
        left: 50%;
        border: 2px solid white;
        width: 50vh;
        height: 50vh;
        border-radius: 50%;
        transform: translate(-50%, -50%);
    }

    &__name{
        position: absolute;
        top: 80%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        text-align: center;
    }

    &__person{
        font-size: $h2mobile340;
        @media (min-width: 640px) {
            font-size: $h2mobile640;
        }
    }
    &__title{
        font-size: $h3mobile340;
        transition: 0.5s;
        @media (min-width: 640px) {
            font-size: $h3mobile640;
        }
    }

    @keyframes titles {
        0%{
            opacity: 0;
        }
        25%{
            opacity: 1;
        }
        75%{
            opacity: 1;
        }
        100%{
            opacity: 0;
        }
    }

    &__change-words{
        animation: titles 5s infinite linear;
    }

    
}