.projects{
    width: 100%;
    min-height: 100vh;
    &__title{
        text-align: center;
        font-size: $h2mobile340;
        margin: 20px 0;
        @media (min-width: 640px) {
            font-size: $h2mobile640;
        }
    }
}