.project-card{
    display: flex;
    flex-wrap: wrap;

    &__name{
        margin: 20px 0 0 0;
        font-size: $h3mobile340;
        width: 100%;
        text-align: center;
        @media (min-width: 640px) {
            font-size: $h3mobile640;
        }
        @media (min-width: 640px) {
            padding: 20px 0;
        }
    }

    &__image{
        width: 100%;
        @media (min-width: 800px) {
            width: 50%;
            margin: 0 auto;
        }
    }

    &__description{
        padding: 20px 10px;
        text-align: justify;
        width: 100%;
        font-size: $paragraph340;
        @media (min-width: 640px) {
            padding: 20px;
            font-size: $paragraph640;
        }
        @media (min-width: 800px) {
            font-size: 25px;
            width: 50%;
            margin: 0 auto;
        }

    }

    &__link{
        color: white;
        width: 25vw;
        text-align: center;
        font-size: $paragraph340;
        @media (min-width: 640px) {
            padding: 15px;
            font-size: $paragraph640;
        }
    }
    &__sources{
        display: flex;
        width: 100%;
        justify-content: space-around;
        align-items: center;
        padding: 10px 0;
        background-color: rgb(75, 69, 69);
    }
}
