//Mobile 
$h2mobile340: 35px;
$h3mobile340: 25px;
$h4mobile340: 20px;
$paragraph340: 15px;

//mobile min 640px
$h2mobile640: 45px;
$h3mobile640: 30px;
$h4mobile640: 20px;
$paragraph640: 20px;

//mobile min 800px
$h2mobile800: 45px;
$h3mobile800: 30px;
$h4mobile800: 20px;
$paragraph800: 20px;
//laptops min 1024px

// descop min 1200px max 1440px
